body {
    background: linear-gradient(to right, #07467d, #075295);
    color: white;
    font-family: 'Trebuchet MS';
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.curriculo-container {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    margin: 20px;
}

.curriculo-imagem {
    width: 100%;
    height: auto;
    border: 2px solid #07467d;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.download-btn {
    display: inline-block;
    padding: 15px 30px;  /* Aumentar tamanho do botão */
    font-size: 18px;     /* Aumentar o tamanho do texto */
    color: slateblue;
    background-color: white;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    width: 80%;
    max-width: 300px;
}

.download-btn:hover {
    transform: scale(1.05);
    color: white;
    background-color: #07467d;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .curriculo-container, .botao-container {
        width: 100%;
        max-width: 90%;
        padding: 10px;
    }

    .download-btn {
        font-size: 16px;
        padding: 12px 20px;
    }
}

@media (max-width: 480px) {
    .curriculo-container, .botao-container {
        width: 100%;
        max-width: 100%;
        padding: 10px;
    }

    .download-btn {
        font-size: 14px;
        padding: 10px 15px;
    }
}
